
%section
  %div.dataset-results.container.span9(id="#{dataset_anchor(dataset)}" name="#{dataset_anchor(dataset)}")
    %h1.page-header #{dataset.name}<br/><small>who is the best in #{dataset.name} ?</small>

    = partial "dataset_preview", { :locals => {:dataset => dataset}}

    -if dataset_results(dataset.name).empty? == false
      %table.table.table-striped
        %thead
          %tr
            %th
              Result
              -#
                -if dataset.evaluation_units
                  (#{dataset.evaluation_units})
            %th Method
            %th Venue
            %th Details
        %tbody
          - dataset_results(dataset.name).each_with_index do |method, method_index|
            %tr
              %td=method.result
              
              - if method.paper_pdf_url then
                %td= link_to method.paper_name, method.paper_pdf_url, class:"pdf_link"
              - else
                %td=method.paper_name

              %td #{method.paper_venue} #{method.paper_year}

              %td
                -if method.additional_information
                  %a{"class" => "btn",
                     "rel" => "popover",
                     "data" => { "original-title" => "Additional information",
                         "placement" => "left",
                         "toggle" => "popover",
                         "trigger" => "hover",
                         "html" => "true",
                         "content_id" => "\##{dataset_anchor(dataset)}-method-#{method_index}",
                        },
                     }
                    Details

                  %div{"style"=>"display:none",
                       "id"=> "#{dataset_anchor(dataset)}-method-#{method_index}",
                       }
                    = Tilt::MarukuTemplate.new { method.additional_information || "(no additional information)" }.render
                  
      :markdown
        <small>Something is off, something is missing ? Feel free to #{link_to "fill in the form", "new_result_form.html"}.</small>
        
    -elsif dataset.external_results_url
      :markdown
        Results are collected in the following #{link_to "external webpage", dataset_url(dataset), :class => "external_link" }
        
    -else
      :markdown
        No results have been collected (yet) for this dataset. Feel free to #{link_to "contribute some results", "new_result_form.html"}.
      
/ end of dataset section
