<!DOCTYPE html>
%html{ :lang => 'en' }

%head
  %meta{:charset => "utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge,chrome=1"}

  -# Pull in the page title
  %title= data.page.title || @title || "Rodrigo Benenson github page"

  %meta{:name => "description", :content => ""}
  %meta{:name => "author", :content => "Rodrigo Benenson"}
  %meta{:name =>"viewport", :content => "width=device-width, initial-scale=1.0"}

  -# Place favicon.ico and apple-touch-icon.png in the root directory

  = stylesheet_link_tag "screen"

%body(data-spy="scroll" data-target="#the-top-navbar")
  %div.container.main-container    
    %div.masthead
      -# %div.navbar.navbar-fixed-top
      -# %div.navbar
      %div#the-top-navbar
        -# %div.navbar-inner
        %div
          %ul.nav.nav-pills.pull-right
            %li
              = link_to "About", "index.html", anchor:"about"
            %li
              = link_to "Datasets", "index.html", anchor:"datasets"
            %li
              = link_to "Contact", "http://rodrigob.github.com/", anchor:"contact"
		  
          %h3.muted= data.page.title || @title || "Rodrigo Benenson github page"

    %hr

    = yield
    
    %div.row
      %footer.span12
        :markdown
          &copy; #{copyright_years(2013)} Rodrigo Benenson.
          
          Built using [middleman](http://middlemanapp.com) and [bootstrap](http://twitter.github.com/bootstrap).
      
  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
  -#:javascript
  -#  window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.9.1.min.js"><\/script>')

  = javascript_include_tag "main", "plugins", "script"
  
  -# = javascript_include_tag "highlight.pack"
  -# = stylesheet_link_tag "solarized_light"
  -# %script hljs.initHighlightingOnLoad();


  -# Google Analytics: change UA-XXXXX-X to be your site's ID.
  / Google Analytics
  :javascript
     var _gaq=[['_setAccount','UA-80935-10'],['_trackPageview']];
     (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g,s)}(document,'script'));
